{% extends 'Base.html'%} {% block main%}

<div style="display:flex;flex-direction: row;padding:auto">
    <div style="display:flex;flex-direction: row;padding:25px;margin:auto">
        <div style="margin:auto;padding:auto;color:white;font-size:20px">
          PostBuddy is social media platform to share your thoughts with you friends and family.Inthis website you can upload your thoughts with photo.
          And you can see others post also.This platform is super easy to use person from any age groups can use it.In this website you can make private use ofposts and public posts.You can
          follow your friend to see their private posts.
          <center><h5 style="margin-top:25px;">ONE PLATFORM FOR ALL!!!!!!!!!!!!</h5></center> 
        </div>
        <img src="static/Post_Buddy_Logo.png" style=" height:500px;width:500px"/>


    </div>
</div>

{% endblock%}